[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-htmx = "*"
django-widget-tweaks = "*"
django-tailwind = "*"
django-formtools = "*"
django-render-block = "*"

[dev-packages]

[requires]
python_version = "3.10"
