{% load static %}
{% load widget_tweaks %}

{% block contact_form %}
    <form class="container mx-auto px-5 pt-10 grid grid-cols-1 gap-5 max-w-3xl">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="w-full">
                <label for="{{ field.id_for_label }}"
                       class="block w-full text-slate-900 font-bold text-3xl cursor-pointer focus-within:text-cyan-500">
                    <p class="pb-2 {% if field.errors %} text-orange-600 {% endif %}">{{ field.label }}</p>
                    {% if field.errors %}
                        {% render_field field placeholder=field.label class="w-full bg-slate-200 font-normal text-xl text-slate-900 border-2 border-orange-600 focus:ring-0 focus:outline-0 focus:border-orange-600" %}
                        {% for error in field.errors %}
                            <div class="flex gap-2">
                                <img class="inline-block" src="{% static 'warning_icon.svg' %}">
                                <p class="text-orange-600 text-lg font-thin">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field placeholder=field.label class="w-full bg-slate-200 font-normal font-body text-xl text-slate-900 border-2 border-slate-900 focus:ring-0 focus:outline-0 focus:border-cyan-500 placeholder:text-slate-500" %}
                        {# This is to make space for the error message if it appears. #}
                        {# Without this, the form moves around. #}
                        <div class="opacity-0">
                            <p class="text-lg font-thin">Error message</p>
                        </div>
                    {% endif %}
                </label>
            </div>
        {% endfor %}
        {# HTMX allows POST requests to be made by any element, not just forms or anchors. #}
        {# Putting the HTMX attributes here makes all errors in the form appear at the same time. #}
        {# If you put them on the form, then Django will provide tips for proper form input one-at-a-time. #}
        {# You will also not see the error messages as described in this template. #}
        <button hx-post="confirm/"
                hx-target="#contact-form"
                hx-swap="innerHTML"
                class="max-w-fit mx-auto px-14 py-4 bg-cyan-600 text-slate-50 text-2xl transition ease-in-out duration-300 hover:bg-cyan-500">
            Confirm
        </button>
    </form>
{% endblock %}