{% load static tailwind_tags %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		{% tailwind_css %}
        <script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
        <script src="{% static 'core/htmx.min.js' %}" defer></script>
	</head>

	<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          class="bg-gray-50 font-serif leading-normal tracking-normal">
		<main>
            {% block content %}{% endblock %}
        </main>
    {% django_htmx_script %}
	</body>
</html>