{% extends base_template %}

{% block contact_form %}
    <form>
        {% for field in form %}
            <div>
            {{ field.as_hidden }}
            {{ field.label }}:
            {{ field.value }}
            </div>
        {% endfor %}
        <button hx-post="send/"
                hx-target="#contact-form"
                hx-swap="outerHTML"
                type="submit">
            Send
        </button>
        <button hx-post="/"
                hx-target="#contact-form"
                hx-swap="outerHTML"
                type="submit">
            Edit
        </button>
    </form>
{% endblock %}
